version: '3'

services:
  backend1:
    container_name: backend1
    image: jamesbrink/php:7.2
    ports:
      - 8001:80
    volumes:
      - ./app/backend1:/var/www/localhost/htdocs

  backend2:
    container_name: backend2
    image: jamesbrink/php:7.2
    ports:
      - 8002:80
    volumes:
      - ./app/backend2:/var/www/localhost/htdocs

  krakend:
    container_name: krakend
    image: devopsfaith/krakend
    volumes:
      - ./krakend:/etc/krakend
    ports:
      - 8000:8080
    depends_on:
      - backend1
      - backend2
